WebSite1/App_WebReferences/Indicium/TimbreCFDI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Timbre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimbreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimbreResult" type="tns:Cfdi" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cfdi">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Resultado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTimbreCfdi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTimbreCfdiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimbreCfdiResult" type="tns:Cfdi" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cancelacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rfc_Emisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pfx" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="clavePfx" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelacionResult" type="tns:Acuse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Acuse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Estatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaCancelacion" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Resultado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Archivo" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TimbreSoapIn">
    <wsdl:part name="parameters" element="tns:Timbre" />
  </wsdl:message>
  <wsdl:message name="TimbreSoapOut">
    <wsdl:part name="parameters" element="tns:TimbreResponse" />
  </wsdl:message>
  <wsdl:message name="GetTimbreCfdiSoapIn">
    <wsdl:part name="parameters" element="tns:GetTimbreCfdi" />
  </wsdl:message>
  <wsdl:message name="GetTimbreCfdiSoapOut">
    <wsdl:part name="parameters" element="tns:GetTimbreCfdiResponse" />
  </wsdl:message>
  <wsdl:message name="CancelacionSoapIn">
    <wsdl:part name="parameters" element="tns:Cancelacion" />
  </wsdl:message>
  <wsdl:message name="CancelacionSoapOut">
    <wsdl:part name="parameters" element="tns:CancelacionResponse" />
  </wsdl:message>
  <wsdl:portType name="TimbreCFDISoap">
    <wsdl:operation name="Timbre">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el timbrado de los comprobantes con versión 3.3</wsdl:documentation>
      <wsdl:input message="tns:TimbreSoapIn" />
      <wsdl:output message="tns:TimbreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTimbreCfdi">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el timbrado de los comprobantes con versión 3.3 regresando el nodo timbre</wsdl:documentation>
      <wsdl:input message="tns:GetTimbreCfdiSoapIn" />
      <wsdl:output message="tns:GetTimbreCfdiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cancelacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Realiza el proceso de cancelacion para los comprobantes con versión 3.3</wsdl:documentation>
      <wsdl:input message="tns:CancelacionSoapIn" />
      <wsdl:output message="tns:CancelacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimbreCFDISoap" type="tns:TimbreCFDISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Timbre">
      <soap:operation soapAction="http://tempuri.org/Timbre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimbreCfdi">
      <soap:operation soapAction="http://tempuri.org/GetTimbreCfdi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancelacion">
      <soap:operation soapAction="http://tempuri.org/Cancelacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TimbreCFDISoap12" type="tns:TimbreCFDISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Timbre">
      <soap12:operation soapAction="http://tempuri.org/Timbre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimbreCfdi">
      <soap12:operation soapAction="http://tempuri.org/GetTimbreCfdi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancelacion">
      <soap12:operation soapAction="http://tempuri.org/Cancelacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimbreCFDI">
    <wsdl:port name="TimbreCFDISoap" binding="tns:TimbreCFDISoap">
      <soap:address location="https://www.indiciumsolutions-test.com/eTimbradoSaaS/DEMO/WEB/ServicioTimbrado/TimbreCFDI.asmx" />
    </wsdl:port>
    <wsdl:port name="TimbreCFDISoap12" binding="tns:TimbreCFDISoap12">
      <soap12:address location="https://www.indiciumsolutions-test.com/eTimbradoSaaS/DEMO/WEB/ServicioTimbrado/TimbreCFDI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>